@charset "utf-8";
/* Name: Saralyn Poole
   Date: April 22, 2021 
   Assignment: Project V1
   Purpose: This is the style sheet for the NUWC Human History website.
*/
html {
    background-color: rgb(35, 10,174);
    background-color: hsl(249, 89%, 36%);
    /*M2LO14 Demonstrate and explain the use of progressive enhancement in CSS (CSS, see 2-6 Employing Progressive Enhancement): I have used both the HSL color value and the 
    RGB value here so that older browsers as well as newer browsers can recognize and display the color.   */
}

header {
    margin: 30px;
    /*M2LO12 Demonstrate how CSS can change presentation of page elements (CSS, these are styles that 
    impact page elements rather than impacting text on the page): I have used CSS to set the margin for the header of the home page. */
}

body {
    color: white; /*M2LO15 Apply colors using CSS (CSS, see 2-5 Working with Color in CSS): 
    I have applied an HSL color value and some basic colors that I may change in later versions. */
    background-color: black;
    font-family: 'Arial Black', 'Gadget', sans-serif;
    font-size: large;
}
h1 {
    color: white;
    background-color:hsl(249, 89%, 36%);/*M2LO3 Demonstrate style precedence and inheritance in CSS 
    (CSS, this item should be specified 2 times, once where precedence is applied and once
    where inheritance is applied; see 2-3d Style Specificity and Precedence,
    and 2-3e Style Inheritance): The h1 color style rule is more specific than the body style rule so it takes precedence.*/
    font-family: 'Arial Black', 'Gadget', sans-serif;
    font-size: large;
    text-shadow:black 10px 7px 7px;
    /*M4LO5 Demonstrate the use of text or box shadowing (CSS, note one of these two in your
     CSS and explain its impact on the HTML): I have added a text shadow to all of my h1 elements.*/
}

h2 {
    text-align: center;
    font-size: xx-large;
    background: linear-gradient(blue, rgb(75, 75, 252), rgb(164, 164, 245));
    /*M4LO4 Demonstrate the use of gradients (CSS): I have applied a gradient to my h2 elements.*/
}

h2 p {
    color: white;
    background-color: black;
    font-family: 'Arial Black', 'Gadget', sans-serif;
    font-size: medium;
    text-align: center; /*M2LO13 Demonstrate how CSS can change presentation of textual elements 
    (CSS, these are styles that impact text that is rendered on the page): I have used CSS to change the h2 text alignment to center.*/
    /*M2LO5 Demonstrate contextual selectors (CSS, specify 2 times, showing two different types of contextual 
    selectors as shown in Figure 2-12, Contextual Selectors, of the textbook): This demonstrates a parent descendant contextual selector, with h2 being the parent and p being the descendant. */
}
nav { 
    color:cadetblue;
    /*M2LO3 Demonstrate style precedence and inheritance in CSS (CSS, this item should be specified 2 times, 
    once where precedence is applied and once where inheritance is applied; 
    see 2-3d Style Specificity and Precedence, and 2-3e Style Inheritance): The color style rule affects the nav element 
    and passes to the list elements nested within it. This demonstrates style inheritance. */

}
h3 > * {
    font-size:small;
    color: ivory;
    /*M2LO5 Demonstrate contextual selectors (CSS, specify 2 times, showing two different types of contextual 
    selectors as shown in Figure 2-12, Contextual Selectors, of the textbook): I have used a wildcard selector to match any element inside h3.*/
}
a[href] {
    color:rgb(63, 20, 255);
    /*M2LO7 Demonstrate a CSS attribute selector other than class or id 
    (CSS, specify 1 time, see 2-9b Attribute selectors): I used an elem[att] attribute selector here to select all hypertext elements
    containing the href attribute.*/
}

p#V1 {
    font-size: medium;
    color:ivory;
    /*M2LO6  Demonstrate a CSS id and a CSS class selector (CSS, specify 2 times, show a use of id and 
    a use of class, see 2-9b Attribute selectors): I have used a CSS id selector to set the font and color of the Project V1 paragraph located in my About Page.*/
}

ol.pageInfo {
    font-size: medium;
    /*M2LO6  Demonstrate a CSS id and a CSS class selector (CSS, specify 2 times, 
    show a use of id and a use of class, see 2-9b Attribute selectors): I have used a class selector to set the font size of the ordered list on my About Page. */
}

ol > :first-child {
    font-size: large;
    /*M2LO11 Demonstrate a pseudo-classes and a pseudo-element selector 
    (CSS, specify 2 times, show one pseudo-class and one pseudo-element, 
    see 2-18 Using Pseudo-Classes and Pseudo-Elements): I have used the first-child pseduo-class to 
    select the first child of unordered list parent element.*/
}
p::first-letter {
    font-family:cursive;
    font-size:large;
    /*M2LO11 Demonstrate a pseudo-classes and a pseudo-element selector (CSS, specify 2 times, show one pseudo-class
     and one pseudo-element, see 2-18 Using Pseudo-Classes and Pseudo-Elements): I have used the first-letter pseudo-element selector to set the font
     and size of the first letter of each paragraph.*/
}
nav ul { 
    text-align: center;
 }

nav ul > li { 
    display: inline; 
}

article, blockquote {
    line-height: 1
    /*M3LO1 Demonstrate the use of a CSS reset style sheet (CSS, note where you have CSS reset rules): I have used a reset style sheet to set the line spacing to 1.*/
}

article h3 {
    text-align: center;
}

article h4 {
    font-size: medium;
    text-align: center;

}
article p {
    font-size: small;
    text-align: center;
    clear:right;
    /*M3LO3 Demonstrate a clearing floats (CSS, note where you have used a clear and what its impact is): 
    I have used a clear to display the article paragraphs only when the right margin is clear.  */
}

figure img {
    float:right;
    /*M3LO2 Demonstrate floating elements (CSS, note where you have specified 
    a floating element and what its impact is): I have floated the img element to the right of its parent (article) element.*/
    opacity: 0.8;
    /*M4LO6 Demonstrate the use of opacity/transparency for images (see 4.2) (CSS): I have adjusted the opacity of my figure img element.*/
    transform: scale(0.9, 0.9);
    /*M4LO8 Demonstrate the use of transformations for 2D or 3D images (CSS, note one of these two 
    in your CSS and explain its impact on the HTML): I have transformed the scale of my figure img element. */
}

figcaption {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: x-small;
    float:right;
    clear:right;
}

nav {
    display: grid;
    -ms-grid-rows: 50px auto 50px;
    -ms-grid-columns: 100% 50% 50%;
    /*M3LO6 Demonstrate formatting a grid (CSS, note the CSS rules that do this and 
    what their impact is on the HTML; this can be old div-class based grids, or new CSS3 grids): I have used a CSS3 grid to set the height and width of the first and last rows.
    I have also set the first column width to 100%, the middle width to 50%, and the last width to 50%.*/
    /*M3LO11 Demonstrate -prefix- style browser extensions use in CSS 
    (CSS note the use in your CSS and what the purpose is): I have used the -ms- browser extension to support this grid style in Internet Explorer.*/
}

body > section > h2 {
    position: absolute;
    top: 40px;
    left: 20px;
    /*M3LO8A Demonstrate absolute positioning (CSS, note use in your CSS and 
    describe what its impact is on the HTML): I have used absolute positioning to set the h2 
    to 40 pixels from the top edge of the body element and 20 pixels from the left edge. */
}

cite {
    font-size:small;
    position: relative;
    top: 0px;
    left:450px;
    /*M3LO8B Demonstrate relative positioning (CSS, note use in your 
    CSS and describe what its impact is on the HTML): I have used relative positioning to add 
    450 pixels of space to the left of the cite element. */
}

article p {
    position: inherit;
    /*M3LO9 Demonstrate fixed, static, or inherited positioning (CSS, 
    note explicit use of one of the three in your CSS and what the impact i
    s on the HTML): I have used inherited positioning to set the p element to inherit
     the positioning of the article element (its parent element).*/
}

header img {
    overflow: auto;
    position: relative;
    height: 1000px;
    width: 1250px;
    /*M3LO10 Demonstrate an overflow setting (CSS, note explicit use of an 
    overflow setting in your CSS and what the impact is on the HTML): I have used
    the auto overflow setting to handle any overflow in the header img element and keep 
    the image at the specified size. */
}

h3 p {
    background-image: url(TorpedoTownU.S.A.Cover.jpg); /*Photo Source: https://maritime.org/doc/torpedotown/index.htm*/
    background-repeat: repeat-x;
    color:black;
    /*M4LO2 Demonstrate the use of background images (CSS): I have tiled the cover of Torpedo Town U.S.A. for the background of my h3 paragraphs.*/
}

article cite {
    border-width: medium;
    border-style: solid;
    border-color: floralwhite;
    border-radius: 20px 20px 20px 20px;
    /*M4LO3 Demonstrate the use of rounded corners for borders (CSS): I have rounded the corners of my cite element border.*/
}

